.App {
  display: flex;
}

img {
  display: block;
  width: 600px;
}

.controls {
  padding: 24px;
  width: 600px;
  background: gray;
  color: white;
}

.control {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

label {
  width: 130px;
}
